
.faqext,
.menufaqext {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
}

.faqext p {
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    padding: 10px;
}



.accordion:after,
.menu-accordion:after {
    content: '\2039';

    font-size: 2.4rem;
    color: #9A9A9A;
    font-weight: 100;
    transform: rotate(-90deg);
}