.custom-dropdown {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.arrow-down {
    margin-left: 5px;
    font-size: 14px;
    transition: transform 0.3s ease;
    color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;

    border-radius: 4px;
    min-width: 120px;
    width: fit-content;
    z-index: 10;
    text-wrap: nowrap;
    border: 1px solid #E1E1E1;
    padding: 10px;
}


.open .arrow-down {
    transform: rotate(180deg);
}

.open .dropdown-content {
    display: block;
}


.filteroptions-content {
    display: none;
    position: absolute;
    top: 240px;
    right: 10px;
    width: 70%;
    z-index: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    padding: 15px;
}

.showfm {
    display: block;
}


@media screen and (max-width:765px) {
    .dropdown-content {
        display: none;
        position: relative;
        top: 4px;
        background: white;

        border-radius: 4px;
        width: 100%;

        z-index: 10;
        text-wrap: nowrap;
        border: 1px solid #E1E1E1;
        padding: 10px;
    }

    .custom-dropdown {
        display: flex;
        flex-direction: column;
        align-items: start;
        cursor: pointer;
        position: inherit;
    }

}


.sidemenu-content {
    display: none;
    position: absolute;
    top: 70px;
    right: 10px;
    min-width: 160px;
    z-index: 1;
}


.dropdown-menu {
    display: none;
    position: fixed;
    top: 125px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;

}

.sidemenu-content .menulink {
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #ddd;
}

.showdd,
.showmm,
.showom {
    display: block;
}


.modal.logout,
.modal.regsuccess,
.modal.password-request-verify,
.modal.password-request-mail,
.modal.password-request-np,
.modal.passwordresetsuccess {
    padding-top: 8rem;

}

.cbox p,
.cbox span {

    position: absolute;
    bottom: 15px;
    left: 25px;

}

.cbox span {
    display: none;
}


.cbox:hover p {
    bottom: 35px;
}

.cbox.cbox2:hover p,
.cbox.cbox3:hover p {
    bottom: 75px;
}

.cbox2 span,
.cbox3 span {
    left: 10px;
}

.cbox:hover span {
    display: inherit;
}


.custom-dropdown {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.arrow-down {
    margin-left: 5px;
    font-size: 14px;
    transition: transform 0.3s ease;
    color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: fit-content;
    z-index: 10;
    text-wrap: nowrap;
    border: 1px solid #E1E1E1;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
}

.open .arrow-down {
    transform: rotate(180deg);
}

.open .dropdown-content {
    display: block;
}